<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale+1.0">
        <title> HTML binar</title>
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <div id="navbar">
            <div id="navbarLogo">LOGO</div>
        <div id="navbarNavigation">
            <div class="item">HOME</div>
            <div class="item">WORK</div>
            <div class="item">CONTACT</div>
            <div class="item">ABOUT ME</div>
        </div>
        <div id="navbarUser">
            <div class="item">SING UP</div>
            <div class="item">LOGIN</div>
        </div>
        </div>
        <div id="page1">
        <div class="feature"></div>
        <div class="conten1"><h1>PLAY TRADITIONAL GAME</h1></div>
        <div class="conten2"><h5>Experince New Traditional Game Play </h5></div>
        <div class="conten3"><base>PLAY NOW</base></div>
        <div class="conten4"><p> THE STORY</p></div>
        </div>
        <div id="page2">
        <div class="conten5"><p>What's so special?</p></div>
        <div class="conten6"><h1>THE GAME</h1></div>
        <div class="container">
            <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <div class="container2">
      <div class="row">
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-ride="carousel"
        >
          <ol class="carousel-indicators">
            <li
              data-target="#carouselExampleIndicators"
              data-slide-to="0"
              class="active"
            ></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                class="d-block w-100"
                src="/assets/rockpaperstrategy-1600.jpg"
                alt="First slide"
              />
            </div>
            <div class="carousel-item">
              <img
                class="d-block w-100"
                src="/assets/rockpaperstrategy-1600.jpg"
                alt="Second slide"
              />
            </div>
            <div class="carousel-item">
              <img
                class="d-block w-100"
                src="/assets/rockpaperstrategy-1600.jpg"
                alt="Third slide"
              />
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#carouselExampleIndicators"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleIndicators"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
        </div>
     </div>

        <div id="page3">
            <div class="container3">
                <div class=" item11"><p>What’s so special?</p>
                </div>
                <div class=" item22"><h2>FEATURES</h2>
                </div>
                <div class="item item33">
                    <div class="title3">TRADTIONAL GAMES </div>
                    <div class="content">If you miss your childhood, we provide many traditional games here
                    </div>
                </div>
                <div class="item item55">
                    <div class="title3">GAME SUIT</div>
                </div>
                <div class="item item66">
                    <div class="title3">TBD</div>
                </div>
            </div>
    </div>
        
        <div id="page4">
             <div class="item01"><p>Can My Computer Run this game?</p></div>
            <div class="container">
                <div class=" item1"><h2>SYSTEM <br> REQUIRMENTS</h2></div>
                <div class="item item2">
                    <div class="title">OS: </div>
                    <div class="content">windows 7 64-bit only No OSX Suppprt at this time
                    </div>
                </div>
                <div class="item item3">
                    <div class="title">PROCESSOR :</div>
                    <div class="content">Intel core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ
                     </div>
                </div>
                <div class="item item4">
                    <div class="title">MEMORY :</div>
                    <div class="content">4 GB RAM</div>
                </div>
                <div class="item item5">
                    <div class="title">STORAGE</div>
                    <div class="content">8 GB Available space(</div>
                </div>
                <div class="item item6">
                    <div class="title">GRAPHICS :</div>
                    <div class="content">NVIDIA GeForce GTX 660 2GB or 
                        AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)
                            </div>
                </div>
            </div>
        </div>
        <div id="page5">
          <div class="item7"><h1>TOP SCORE</h1>
          </div>
          <div class="item8"><p>This top score from various games provided on this platform</p></div>
          <div class="item9"><base>see more</base></div>
          <div class="container4">
              <div class="item10">
              <div class="title5">Evan Lahti</div>
              <div class="title6"><p>PC Gamer</p></div>
              <div class="content5">“One of my gaming highlights of the year.”</div>
              <div class="date"><p>June 18, 2021</p></div>
          </div><br>
          <div class="item11">
            <div class="title5">Jada Griffin</div>
            <div class="title6"><p>Nerdreactor</p></div>
            <div class="content5">“The next big thing in the world of streaming and survival games.”            </div>
            <div class="date"><p>July 10, 2021</p></div>
          </div><br>
          <div class="item12">
            <div class="title5">Aaron Williams</div>
            <div class="title6"><p>Uproxx</p></div>
            <div class="content5">“Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous.”</div>
            <div class="date"><p>December 24, 2018</p></div>
        </div>
    </body>
</html>